!!!
head
  link(rel='stylesheet', href='public/css/foundation/stylesheets/foundation.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lemon')
  link(rel='stylesheet', href='public/css/app.css')
  script(src='js/foundation.min.js')
body
  .row
    .six.columns.centered
      header
        h1 bbcat
      #display
      .row
        .four.columns.control
          .button.alert
        .four.columns.control
          .button.alert
        .four.columns.control
          .button.alert
