extends layout
block content
  p bbcats are adorable little baby kittens. You've got a bbcat. It's up to you to keep your bbcat happy by feeding it, petting it, and keeping its litterbox clean.
  form(action='')
    input.bold(type='text', name='catName', placeholder="What is your cat's name?")/
    input.right.success.round.bold.button(type='submit', value='Get your cat!')
