!!!
head
  link(rel='stylesheet', href='public/css/foundation/foundation.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lemon')
  link(rel='stylesheet', href='public/css/app.css')
  script(src='js/foundation.min.js')
body
  header
    h1 bbcat
