extends layout
block content
  script(type='text/javascript')
    window.bb = {}
    window.bb = #{pet}
  script(src='/public/js/animate.js')
  #display
    .heart &nbsp;
    .heart &nbsp;
    .heart &nbsp;
    .heart &nbsp;
    .heart &nbsp;
    #grid
      canvas#pet
    .fish &nbsp;
    .fish &nbsp;
    .fish &nbsp;
    .fish &nbsp;
    .fish &nbsp;
  .row
    .three.columns.control
      .button.alert
    .three.columns.control
      .button.alert
    .three.columns.control
      .button.alert
    .three.columns.control
      .button.alert
