extends layout
block content
  script(type='text/javascript')
    $(function(){
      window.bb = {};
      window.bb.pet = !{pet}
    });
  script(src='/public/js/animate.js')
  #display
    #grid
      canvas#pet
  .row
    .three.columns.control
      .button.alert
    .three.columns.control
      .button.alert
    .three.columns.control
      .button.alert
    .three.columns.control
      .button.alert
