extends layout
block content
  #display
    #grid
  .row
    .three.columns.control
      .button.alert
    .three.columns.control
      .button.alert
    .three.columns.control
      .button.alert
    .three.columns.control
      .button.alert
