extends layout
block content
  script(type='text/javascript')
    $(function(){
      window.bb = {};
      window.bb.pet = !{pet}
    });
  script(src='/public/js/animate.js')
  script(src='/public/js/stat-logic.js')
  #display
    .heart &nbsp;
    .heart &nbsp;
    .heart &nbsp;
    .heart &nbsp;
    .heart &nbsp;
    #grid
      canvas#pet
    .fish &nbsp;
    .fish &nbsp;
    .fish &nbsp;
    .fish &nbsp;
    .fish &nbsp;
  .row
    .three.columns.control
      label Feed
      .button.alert.bold#feed
    .three.columns.control
      label Clean
      .button.alert.bold#clean
    .three.columns.control
      label Heal
      .button.alert.bold#heal
    .three.columns.control
      label Info
      .button.alert.bold#info
