body {
  margin: 0px;
  padding: 0px;
  background-image: url("../img/noise.png");
  background-color: #E8E8D1; }

header {
  margin-top: 50px; }
  header h1 {
    margin: 0px;
    font-family: Lemon;
    font-weight: normal;
    letter-spacing: -1px;
    color: #444444; }

.six.columns.centered {
  width: 320px !important; }

#display {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: #444444;
  box-shadow: 0px 3px 5px rgba(3, 3, 3, 0.5) inset;
  background-image: url("../img/living-room.png");
  background-color: #BBCA9A; }
  #display #grid {
    margin: 60px auto 0px auto;
    background-image: url("../img/grid.png");
    width: 255px;
    height: 127px; }

.control {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center; }
  .control .button {
    display: inline-block !important;
    height: 50px;
    width: 50px;
    border-width: 3px;
    border-radius: 30px;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.5) inset;
    background-image: url("../img/noise.png"); }

@media (max-width: 767px) {
  header {
    margin-top: 10px; }

  .columns, .column {
    float: left; }
    .columns .columns:last-child, .column .column:last-child {
      float: left; } }
