body {
  margin: 0px;
  padding: 0px;
  background-image: url("../img/noise.png");
  background-color: #E8E8D1; }

header {
  margin-top: 50px; }
  header h1 {
    margin: 0px;
    font-family: Lemon;
    font-weight: normal;
    letter-spacing: -1px;
    color: #444444; }

footer {
  clear: both;
  margin-top: 20px; }

.right {
  float: right; }

.six.columns.centered {
  width: 320px !important; }

#display {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: #444444;
  box-shadow: 0px 3px 5px rgba(3, 3, 3, 0.5) inset;
  background-image: url("../img/living-room.png");
  background-color: #BBCA9A; }
  #display .heart, #display .fish {
    display: inline-block;
    opacity: .1; }
    #display .heart.active, #display .fish.active {
      opacity: .8; }
  #display .heart {
    margin: 20px 0px 20px 14px;
    width: 25px;
    height: 23px;
    background-image: url("/public/img/heart.png"); }
  #display .fish {
    margin: 20px 0px 20px 14px;
    width: 25px;
    height: 21px;
    background-image: url("/public/img/fish.png"); }
  #display #grid {
    margin: 0px auto;
    background-image: url("../img/grid.png");
    width: 256px;
    height: 128px; }
    #display #grid canvas#pet {
      width: 256px;
      height: 128px;
      image-rendering: optimizeSpeed;
      image-rendering: -moz-crisp-edges;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: optimize-contrast;
      -ms-interpolation-mode: nearest-neighbor;
      imageSmoothingEnabled: false; }

.bold {
  border-width: 3px !important; }

.button {
  background-image: url("../img/noise.png"); }
  .button.bold {
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.5) inset; }

.control {
  margin-top: 20px;
  text-align: center; }
  .control .button {
    display: inline-block !important;
    height: 50px;
    width: 50px;
    border-radius: 30px; }
  .control label {
    margin-bottom: 5px;
    font-family: Oswald;
    font-size: 16px; }

@media (max-width: 767px) {
  header {
    margin-top: 10px; }

  .columns, .column {
    float: left; }
    .columns .columns:last-child, .column .column:last-child {
      float: left; } }
